<footer>
    <ul>
        <li><a href="/restaurants">Restaurants</a></li>
        <li><a href="/hotels">Hotels</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/bus">Bus Routes</a></li>
        <li><a href="/alerts">Alerts</a></li>
        <li><a href="/alerts">City Issues</a></li>
        <li><a href="https://www.primariatm.ro/">Stay connected with Timisoara</a></li>
    </ul>
    <div class="copyright-text">
        &copy; Timisoara Viewer App 2025<br />
    </div>
    <ul>
        <li>Credits:</li>
        <li>tyr4 - git maintainer & frontend</li>
        <li>AkanoSz2 - api's & backend</li>
        <li>Cici20BAR - frontend</li>
        <li>Marcu-Mihai-Vlad - frontend</li>
    </ul>
</footer>