#myMap {
    display: flex;
    width: 95%;
    height: 350px;
    border: 1px solid #000;
}
.bus-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: fit-content;
    margin-top: 20px;
    background-color: #bfbfbf;
}
.stop-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    width: 250px;
    margin-left: 30px;
    background-color: #e6e6e6;
}

.bus-data li {
    list-style-type: none;
    margin: 5px 0;
}

.bus-data h2 {
    margin: 0;
}

.route-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.price-container {
    width: 25%;
    padding-left: 38px;
}

.legend-container {
    flex: 1;         /* take remaining space */
    min-width: 0;    /* allow shrinking */
    display: flex;
    justify-content: space-evenly;
}

.route-table {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.stops-info {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: flex-start;
}

.legend-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.location-container ul {
    padding-left: 60px;
}

.time-container ul {
    padding-left: 38px;
    color: black;
}

.delay-container ul {
    padding-left: 10px;
    /*padding-right: 0;*/
    color: #167af8;
}

.route-table {
    background-color: #d4d2d7;
    border: 2px solid black;
}

.route-header {
    background-color: rgba(141, 98, 242, 0.99);
    border: 2px solid black;
    color: #ffffff;
}