.header {
    width: 100%;
    height: 100px;
    margin-top: -8px;
    margin-left: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    position: fixed;
    z-index: 1000;
}

.header-logo {
    position: static;
    /*margin-left: -600px;*/
}
