main {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    min-height: 500px;
    font-family: Arial,sans-serif;
}
#login{
    position: absolute;
    z-index: 10;
    background-image: url("../images/timisoara-login.jpg");




    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;


}
/* CONTAINER ROW pentru cele 2 paneluri */
/* --- RIGHT PANEL (Dreapta) --- */
body{

}

.login-conatiner {
    display: flex; /* <-- CHEIA: Le așează pe orizontală */
    flex-direction: row; /* Implicit, dar explicit pentru claritate */




    /* Adăugați stilurile de container (dimensiune, umbră, etc.) */
    width: 750px;
    height: 450px;
    margin: 40px auto; /* Centrează containerul */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;

}
.left-panel {

    width: 40%;
    background: linear-gradient(135deg, #331557, #5a2e9d);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.left-panel img {
    width: 170px;
    height: auto;
    opacity: 0.8;
}

/* --- RIGHT PANEL (Formular) --- */
.right-panel {
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrează conținutul pe verticală */
}

/* Stilul Formularului */
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Stilul pentru etichete (Email, Password) */
.login-form label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 0.95rem;
    color: #333;
}

/* Stilul pentru câmpurile de input */
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    margin-bottom: 25px;
    border: 1px solid black; /* Bordură turcoaz */
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    border-color: #6d19c2;
    outline: none;
    transition: 0.2s ease;
}
.login-btn{
    width: 100%;
    height: 45px;
    padding: 0 15px;
    background-color: #4b0c86;
    color: white;

    box-shadow: 0 6px 0 #4b0c86;

    /* animații */
    transition:
            transform 0.15s ease-out,
            box-shadow 0.15s ease-out;
}

.login-btn:hover{
    transform:  translateY(-5px);
}

.login-btn:active {
    transform: translateY(4px) scale(0.97); /* se turtește */
    box-shadow: 0 2px 0 #4b0c86; /* umbra devine mică */
}